{% extends 'base.html.twig' %}

{% block title %}Série{% endblock %}

{% block body %}
    <div class="container text-center  mt-3 p-3">

        <h1>{{ program.title }}</h1>
        <div class="d-flex align-items-center">
            <table class="table">
                <tbody>
                <tr>
                    <th>Summary</th>
                    <td>{{ program.summary }}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ program.country }}</td>
                </tr>
                <tr>
                    <th>Year</th>
                    <td>{{ program.year }}</td>
                </tr>
                {% for season in program.seasons %}
                <tr>
                    <th></th>
                    <td><a href="{{ path('season_show', {program: season.program.id, id: season.id}) }}" class="text-danger">Saison {{ season.number }} - {{ season.year }}</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <th>Actor(s)</th>
                    <td>
                    {% for actor in program.actors %}
                        <li class="list-unstyled"><a class="text-danger" href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ actor.name }}</a> </li>
                    {% else %}
                        <li class="list-unstyled" >Aucun acteur pour cette série</li>
                    {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <img class="imgsize ml-4" src="{{ program.poster }}" alt="affiche {{ program.title }}">
            </div>
        </div>

        <div class=" d-flex justify-content-between m-3 p-3">
            <a class="text-success btn btn-warning" href="{{ path('season_new', {'id': program.id}) }}">Ajouter une saison</a>
            <a class="text-success btn btn-warning" href="{{ path('program_edit', {'slug': program.slug}) }}">Modifier</a>
            {{ include('program/_delete_form.html.twig') }}
        </div>
    </div>
    <a class="text-success btn btn-warning m-5" href="{{ path('program_index') }}">Retour à la liste</a>

{% endblock %}
