{% extends 'base.html.twig' %}
{% block body %}
<div class="container text-center mt-3 p-3">
    <h1 class=" text-center">{{ program.title }} </h1>
    <p class=" text-center mt-5"> {{ program.summary }}</p>
    <div class="d-flex justify-content-around align-items-start">
        <div class="card mt-5">
            <h5 class="card-header text-center text-secondary bg-warning"> Episode {{ episode.number }} - Saison {{ season.number }}</h5>
            <div class="card-body bg-primary">
                <h4 class="card-title text-center">{{episode.title}}</h4>
                <p class="card-text">Résumé : {{episode.synopsis}}</p>
                <div class="mt-5">
                    <a href="{{ path('wild_show_season', {id: season.id}) }}" class="btn btn-danger text-success">Retour à la saison {{ season.number }}</a>
                    <a href="{{ path('wild_show', {slug: program.slug}) }}" class="btn btn-danger text-success mt-5">Détails de la série</a>
                </div>
            </div>
        </div>
        {% if app.user %}
        <div class="card mt-5">
            <h5 class="card-header text-center text-secondary bg-warning">Commentaires </h5>
            <div class="card-body bg-primary">
                <h4 class="card-title text-center"></h4>
                <p class="card-text">
                    {{ include('comment/_form.html.twig') }}
                </p>
                <ul class="mt-5">
                    {% for comment in comments|reverse %}
                        <li class="list-group border-bottom mt-3">
                            <h6> {{ comment.author.displayName | capitalize }} a laissé son avis</h6>
                            <p>{{ comment.rate }}/5 <br>{{ comment.comment }}</p>
                            {% if is_granted('ROLE_SUBSCRIBER') %}
                                {% if comment.author.id == app.user.id %}
                                    {{ include('comment/_delete_form.html.twig') }}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
