{% extends 'base.html.twig' %}

{% block body %}
    <div class="container bg-primary border border-secondary mt-3 mb-3 rounded shadow">
        <div class="text-center p-3">
            <h1>{{ program.title }}</h1>
            <h2>Saison {{ season.number }}</h2>
            <p>{{ season.description }}</p>
        </div>
        <div>
            {% if season.episodes|length > 0 %}
                <h3 class="ml-4">Les épisodes :</h3>
                <ul>
                    {% for episode in season.episodes %}
                        <li><a href=" {{ path('wild_show_episode', {'id': episode.id}) }}" class="text-danger">Episode {{ episode.number }} - {{ episode.title }}</a>
                            <br><p>{{ episode.synopsis }}</p></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3> Aucun épisode disponible pour l'instant.</h3>
            {% endif %}
        </div>
    </div>
    <div class=" ml-4">
        <a href="{{ path('wild_show_program', {slug: season.program.title|lower|replace({' ' : '-'})}) }}"  class="btn btn-danger text-success ">Retour à la liste des saisons</a>
        <a href="{{ path('wild_show', {slug: season.program.title|lower|replace({' ' : '-'})}) }}" class="btn btn-danger text-success ">Retour à {{ season.program.title }}</a>
        <a href="{{ path('app_index') }}" class="btn btn-danger text-success ">Retour à l'accueil</a>
    </div>
{% endblock %}