{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="text-center mt-4">{{ bienvenue }}</h1>

    <div class="container-fluid text-center">
        <hr>
        <div class="d-flex flex-row justify-content-around -border-none mt-5">
            {% for program in programs %}
                <div class="card text-center" >
                    <img src="{{ program.poster }}" class="card-img-top" alt="affiche de {{ program.title }}">
                    <div class="card-body overflow-auto bg-primary border-primary">
                        <a href="{{ path('wild_show', {slug: program.slug}) }}"class="text-danger m-2">
                            <h5 class="card-title ">{{program.title}}</h5>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
