{% extends 'base.html.twig' %}
{% block body %}

<h1 class="text-center mt-4">{{ bienvenue }}</h1>

    <div class="container-fluid text-center">
        <hr>
    <div class="d-flex flex-row justify-content-around mt-5">
    {% for program in programs %}
        <div class="card text-center" >
            <img src="{{ program.poster }}" class="card-img-top" alt="affiche de {{ program.title }}">
            <div class="card-body overflow-auto">
                <h5 class="card-title ">{{program.title}}</h5>
                <a href="{{ path('wild_show', {slug: program.title|lower|replace({' ' : '-'})}) }}" class="text-success btn btn-warning m-2">Détails</a>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}