<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand text-success" href="/"><i class="fas fa-video"></i> Wild Séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-success " href="{{ path('wild_index') }}" >Les Séries</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                {{ render(controller('App\\Controller\\NavBarController::selectCategories')) }}
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion admin
                    </a>
                    <div class=" nav-item dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-danger" href="{{ path('program_index') }}" >Les Séries</a>
                        <a class="dropdown-item text-danger" href="{{ path('actor_index') }}" >Les Acteurs</a>
                        <a class="dropdown-item text-danger" href="{{ path('season_index') }}" >Les Saisons</a>
                        <a class="dropdown-item text-danger" href="{{ path('episode_index') }}" >Les Episodes</a>
                    </div>
                </li>

            {% endif %}
        </ul>
    </div>

    {% if app.user %}

        <a href="{{ path('app_myprofile') }}" class="ml-5 mr-3" > Bonjour {{ app.user.displayName }}</a>

        <a href="{{ path('app_myprofile') }}" class="ml-5 mr-3" > Mon compte</a>

        <a href="{{ path('app_logout') }}" class="ml-5 mr-3"> Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_register') }}" class="ml-5 mr-3"> S'inscrire</a>

        <a href="{{ path('app_login') }}" class="ml-5 mr-3"> Se connecter</a>
        </div>
    {% endif %}
</nav>
