<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand text-success" href="/"><i class="fas fa-video"></i> Wild Séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-success " href="{{ path('wild_index') }}" >Les Séries</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link text-success " href="{{ path('program_index') }}" >Les Séries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success " href="{{ path('actor_index') }}" >Les Acteurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success " href="{{ path('season_index') }}" >Les Saisons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success " href="{{ path('episode_index') }}" >Les Episodes</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% if app.user %}
        {{ app.user.email }}
        <a href="{{ path('app_logout') }}" class="ml-5 mr-3"> Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}" class="ml-5 mr-3"> Se connecter</a>
    {% endif %}
</nav>
